<%- include("partials/header") %>
<!--========== BOX ICONS ==========-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet" href="/stylesheet/createResume.css">

<div class="container" id="cv-form">
    <section class="container-fluid px-0">
        <div class="row">
            <div class="col-lg-6">
                <h2>Personal Information</h2>

                    <div class="form-group mt-3">
                        <label for="">Select your profile photo</label>
                        <input id="imgField" type="file" class="form-control">
                    </div>

                    <div class=" form-group mt-2">
                        <label for="nameField">Full Name</label>
                        <input type="text" id="nameField" class="form-control" name="fname" placeholder="Enter your full name here!" required>
                    </div>

                    <div class=" form-group mt-2">
                        <label for="emailField">Email</label>
                        <input type="email" id="emailField" class="form-control" name="email" placeholder="Enter your email here!" required>
                    </div>
                    
                    <div class="form-group mt-2">
                        <label for="contactField">Contact Number</label>
                        <input type="text" id="contactField" class="form-control" name="cnumber" placeholder="Enter your contact number here!" required>
                    </div>

                    <div class="form-group mt-2">
                        <label for="addressField">Address</label>
                        <textarea type="text" id="addressField" class="form-control" name="address" placeholder="Enter here!" required></textarea>
                    </div>

                    <h5 class="mt-3">Important Links</h5>

                    <div class="form-group mt-2">
                        <label for="linkedin">Linkedin</label>
                        <input type="text" id="linkedin" class="form-control" name="linkedin" placeholder="Enter Linkedin link here!">
                    </div>

                    <div class="form-group mt-2">
                        <label for="github">Github</label>
                        <input type="text" id="github" class="form-control" name="github" placeholder="Enter Github link here!">
                    </div>

                    <div class="form-group mt-2">
                        <label for="instagram">Instagram</label>
                        <input type="text" id="instagram" class="form-control" name="instagram" placeholder="Enter Instagram link here!">
                    </div>

                    <div>
                        <h5 class="mt-3">Skill's</h5>
                        <ul class="ks-cboxtags">
                            <li><input name="skillField" type="checkbox" id="checkboxOne" value="Html" checked><label for="checkboxOne">Html</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxTwo" value="CSS" checked><label for="checkboxTwo">Css</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxThree" value="JavaScript" checked><label for="checkboxThree">JavaScript</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxFour" value="Angular"><label for="checkboxFour">Angular</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxFive" value="Firebase"><label for="checkboxFive">Firebase</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxSix" value="React" ><label for="checkboxSix">React</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxSeven" value="Git&Github"><label for="checkboxSeven">Git&Github</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxEight" value="C++" checked><label for="checkboxEight">C++</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxNine" value="Python"><label for="checkboxNine">Python</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxTen" value="Java"><label for="checkboxTen">Java</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxEleven" value="C#"><label for="checkboxEleven">C#</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxTwelve" value="C"><label for="checkboxTwelve">C</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxThirteen" value="Vue"><label for="checkboxThirteen">Vue</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxFourteen" value="NodeJS"><label for="checkboxFourteen">NodeJS</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxFifteen" value="OOP's"><label for="checkboxFifteen">OOP's</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxSixteen" value="Data Structure"><label for="checkboxSixteen">Data Structures</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxSeventeen" value="Algorithms"><label for="checkboxSeventeen">Algorithms</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxEighteen" value="Mongodb"><label for="checkboxEighteen">MongoDB</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxNineteen" value="Bootstrap"><label for="checkboxNineteen">Bootstrap</label></li>
                            <li><input name="skillField" type="checkbox" id="checkboxTwenty" value="ML"><label for="checkboxTwenty">Machine Learing</label></li>  
                            
                        </ul>
                    </div>
            </div>

            <div class="col-lg-6">
                <h2>Professional Information</h2>
                    <div class="form-group mt-2">
                        <label for="profile">Profile</label>
                        <textarea type="text" id="profileField" class="form-control" name="profile" placeholder="Enter about yourself here!"></textarea>
                    </div>
                    <div class="form-group mt-2 mb-2" id="we">
                        <label for="Experience">Work Experience</label>
                        
                        <input id="company" type="text" class="form-control weField" name="companyName" placeholder="Enter company name!">
                        <input id="exyear" type="text" class="form-control weField" name="exyear" placeholder="Enter Fromyear - Toyear">
                        <textarea id="aboutcompany" type="text" class="form-control weField" name="experience" placeholder="Enter here about your work!"></textarea>
                        
                        
                        <div class="text-center mt-1" id="weAddButton">
                            <button onclick="addNewWEField()" class="btn btn-secondary bt-lg">Add</button>
                        </div>
                    </div>


                    <div class="form-group mt-2" id="aq">
                        <label for="qualification">Acadmic Qualification</label>

                        <input id="eTitle" type="text" class="form-control aqField" name="etitle" placeholder="2022 Bachelor of Technology, HMRITM (Guru Gobind Singh Indraprastha University) CGPA: 7.9/10">
                        <input id="institute" type="text" class="form-control aqField" name="institute" placeholder="Enter Institute!">
                        <input id="eYear" type="text" class="form-control aqField" name="eyear" placeholder="Enter yearfrom - toyear">

                        <div class="text-center mt-1" id="aqAddButton">
                            <button onclick="addNewAQField()" class="btn btn-secondary bt-lg">Add</button>
                        </div>
                    </div>


                    <div>
                        <h5 class="mt-3">Languages's</h5>    
                        <!-- <div>
                            <h5 class="mt-3">Languages's  <i class="fas fa-info-circle info"></i></h5>    
                            <span class="extra-info">
                              A little column extra info. Aaand just a little bit more
                            </span>   
                        </div>

                        <h2>Display an Element on Hover</h2>
                        <div class="myDIV">Hover over me.</div>
                        <div class="hide">I am shown when someone hovers over the div above.</div> -->



                        <ul class="ks-cboxtags">
                            <li><input name="langField" type="checkbox" id="langcheckboxOne" value="Hindi" checked><label for="langcheckboxOne">Hindi</label></li>
                            <li><input name="langField" type="checkbox" id="langcheckboxTwo" value="English" checked><label for="langcheckboxTwo">English</label></li>
                            <li><input name="langField" type="checkbox" id="langcheckboxThree" value="Russian" ><label for="langcheckboxThree">Russian</label></li>
                            <li><input name="langField" type="checkbox" id="langcheckboxFour" value="French"><label for="langcheckboxFour">French</label></li>
                            <li><input name="langField" type="checkbox" id="langcheckboxFive" value="Japanese"><label for="langcheckboxFive">Japanese</label></li>
                            <li><input name="langField" type="checkbox" id="langcheckboxSix" value="German" ><label for="langcheckboxSix">German</label></li>
                            <li><input name="langField" type="checkbox" id="langcheckboxSeven" value="Chinese"><label for="langcheckboxSeven">Chinese</label></li>
                            <li><input name="langField" type="checkbox" id="langcheckboxEight" value="Italian"><label for="langcheckboxEight">Italian</label></li>
                            <li><input name="langField" type="checkbox" id="langcheckboxNine" value="Portuguese"><label for="langcheckboxNine">Portuguese</label></li>
                            <li><input name="langField" type="checkbox" id="langcheckboxTen" value="Turkish"><label for="langcheckboxTen">Turkish</label></li>
                        </ul>
                    </div>

            </div>
        </div>
        <div class="mt-4 mb-5 text-center">
            <button onclick="generateCV()" class="btn btn-dark bt-lg text-light">Build Resume</button>
        </div>
    </section>
</div>



<!-- resume template -->
<!-- 
<header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="#" class="nav__logo">Smith</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">
                        <i class='bx bx-home nav__icon'>Home</i>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#profile" class="nav__link">
                        <i class='bx bx-user nav__icon'></i>profile
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#education" class="nav__link">
                        <i class='bx bxs-book nav__icon'></i>Education
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#skills" class="nav__link">
                        <i class='bx bx-receipt nav__icon'></i>Skills
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#experience" class="nav__link">
                        <i class='bx bx-briefcase-alt nav__icon'></i>Experience
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#certificates" class="nav__link">
                        <i class='bx bx-award nav__icon'></i>Certificates
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#references" class="nav__link">
                        <i class='bx bx-link-external nav__icon'></i>References
                    </a>
                </li>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bxs-grid-alt nav__icon'></i>
        </div>
    </nav>
</header> -->

<main class="l-main bd-container" id="cv-template">
    <!-- All elements within this div, is generated in PDF -->
    <div class="resume" id="area-cv">
        <div class="resume__left">
            <!--========== HOME ==========-->
            <section class="home" id="home">
                <div class="home__container section bf-grid">
                    <div class="home__data bd-grid">
                        <img id="imgTemplate" src="https://as2.ftcdn.net/v2/jpg/01/18/03/33/1000_F_118033377_JKQA3UFE4joJ1k67dNoSmmoG4EsQf9Ho.jpg" alt="" class="home__img">
                        <h1 class="home__title" id="nameT">Your Name</h1>
                        
                    </div>
                    <div class="home__address bd-grid mt-2">
                        <span class="home__information ">
                            <i class='bx bxs-map home_icon'></i>
                            <span id="addressT"> Av. Bolivar #123 Lima - Peru</span> 
                        </span>
                        <span class="home__information ">
                            <i class='bx bx-envelope home_icon'></i>
                            <span id="emailT">user@gmail.com</span> 
                        </span>
                        <span class="home__information" >
                            <i class='bx bx-phone home_icon'></i>
                            <span id="contactT"> 999-888-7777 </span> 
                        </span>
                    </div>
                </div>
                <!-- Theme change button -->
                <i class='bx bx-moon change-theme' title="Theme" id="theme-button"></i>

                <!-- Button to generate and download the pdf. Available for desktop. -->
                <div>
                    <i class='bx bx-download generate-pdf' title="Generate PDF" id="resume-button"></i>
                    <!-- <a download="" href="assets/pdf/ResumeCv.pdf" class="home__button-movil">Download</a> -->
                    <button onclick="printCV()" class="home__button-movil" >Download</button>
                </div>
            </section>

            <!--========== SOCIAL ==========-->
            <section class="social section">
                <h2 class="section-title">SOCIAL</h2>

                <div class="social__container bd-grid">
                    <a id="linkedT" href="https://linkedin.com/" target="_blank" class="social__link">
                        <i class='bx bxl-linkedin-square social__icon'></i>@smithmat
                    </a>
                    <a id="gitT" href="https://facebook.com/" target="_blank" class="social__link">
                        <i class='bx bxl-facebook social__icon'></i>@smithmat
                    </a>
                    <a id="instaT" href="https://instagram.com/" target="_blank" class="social__link">
                        <i class='bx bxl-instagram social__icon'></i></i>@smithmat
                    </a>
                </div>
            </section>

            <!--========== PROFILE ==========-->
            <section class="profile section" id="profile">
                <h2 class="section-title">Profile</h2>

                <p id="profileT" class="profile__description">I am a person, responsible with their work during working hours.
                    Finish various technical and higher studies at large universities. I have several years of
                    experience and achievements in the labor field.
                </p>
            </section>

            



            <!--========== SKILLS  ==========-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>
                <div class="skills__content bd-grid" id="skillT">
                </div>
            </section>



             <!--========== LANGUAGES ==========-->
             <section class="languages section">
                <h2 class="section-title">Languages</h2>

                <div class="languages__container" >
                    <div class="languages__content bd-grid" id="langT"></div>
                </div>
            </section>

            <!--========== INTERESTS ==========-->
            <section class="interests section">
                <h2 class="section-title">Interests</h2>

                <div class="interests__container bd-grid">
                    <div class="interests__content">
                        <i class='bx bx-headphone interests__icon'></i>
                        <span class="interests__name">Music</span>
                    </div>

                    <div class="interests__content">
                        <i class='bx bxs-plane-alt interests__icon'></i>
                        <span class="interests__name">Travel</span>
                    </div>

                    <div class="interests__content">
                        <i class='bx bxs-book interests__icon'></i>
                        <span class="interests__name">Reading</span>
                    </div>      
                </div>
            </section>



        </div>

        <div class="resume__right">



            <!--========== EDUCATION ==========-->
            <section class="education section" id="education">
                <h2 class="section-title">Education</h2>

                <div class="edutcation__container bd-grid">
                    <div class="education__content">
                        <div class="education__time">
                            <span class="education__rounder"></span>
                            <span class="education__line"></span>
                        </div>
                        <div class="education__data bd-grid" id="edu">
                            <h3 class="education__title" id="titleT">MASTER OF DESIGN</h3>
                            <span class="education__studies">University of Studies</span>
                            <span class="education__year">2010-2015</span>
                        </div>
                    </div>

                    <div class="education__content">
                        <div class="education__time">
                            <span class="education__rounder"></span>
                            <!-- <span class="education__line"></span> -->
                        </div>
                        <!-- <div class="education__data bd-grid">
                            <h3 class="education__title">WEB DEVELOPER</h3>
                            <span class="education__studies">Institute Studies</span>
                            <span class="education__year">2015-2016</span>
                        </div> -->
                    </div>
                </div>
            </section>



            <!--========== EXPERIENCE ==========-->
            <section class="experience section" id="experience">
                <h2 class="section-title">Experience</h2>

                <div class="experience__container bd-grid">
                    <div class="experience__content">
                        <div class="experience__time">
                            <span class="experience__rounder"></span>
                            <span class="experience__line"></span>
                        </div>

                        <div class="experience__data bd-grid" id="expp" >
                            <h3  class="experience__title "  id="companyT">MASTER OF DESIGN</h3>
                            <span class="experience__company" id="exyearT">From 2013 to 2015 | Tech Soft</span>
                            <p  class="experience__description" id="aboutcompanyT">Work in this company dedicating the best
                                responsibility in the area that corresponds, delivering the best results for the
                                company and improving productivity.
                            </p>
                        </div>
                    </div>

                    <div class="experience__content">
                        <div class="experience__time">
                            <span class="experience__rounder"></span>
                            <!-- <span class="experience__line"></span> -->
                        </div>

                        <!-- <div class="experience__data bd-grid">
                            <h3 class="experience__title">UI / UX DESIGN AREA</h3>
                            <span class="experience__company">From 2017 to 2019 | Adobe Inc</span>
                            <p class="experience__description">Work in this company dedicating the best
                                responsibility in the area that corresponds, delivering the best results for the
                                company and improving productivity.
                            </p>
                        </div> -->
                    </div>
                </div>
            </section>

            <!--========== CERTIFICATES ==========-->
            <section class="certificate section" id="certificates">
                <h2 class="section-title">Certificate</h2>

                <div class="certificate__container bd-grid">
                    <div class="certificate__content">
                        <h3 class="certificate__title">Certified for compliance in the work area (2012)
                        </h3>   
                        <p class="certificate__description">For meeting the expectations of leading the team to work
                            the specified tasks in the labor field.
                        </p>
                    </div>

                    <div class="certificate__content">
                        <h3 class="certificate__title">Certificate of attendance on computer technology.
                        </h3>
                        <p class="certificate__description">For meeting the expectations of leading the team to work
                            the specified tasks in the labor field.
                        </p>
                    </div>

                    <div class="certificate__content">
                        <h3 class="certificate__title">Achievement medal for productivity excellence during the year
                            (2019)
                        </h3>
                        <p class="certificate__description">For meeting the expectations of leading the team to work
                            the specified tasks in the labor field.
                        </p>
                    </div>
                </div>
            </section>

            <!--========== REFERENCES ==========-->
            <!-- <section class="references section" id="references">
                <h2 class="section-title">References</h2>

                <div class="references__container bd-grid">
                    <div class="references__content bd-grid">
                        <span class="refrences__subtitle">Sr. Director</span>
                        <h3 class="references__title">Mr. Clay Doe</h3>
                        <ul class="references__contact">
                            <li>Phone: 999-777-6666</li>
                            <li>Email: user@email.com</li>
                        </ul>
                    </div>

                    <div class="references__content bd-grid">
                        <span class="refrences__subtitle">Mag Developer</span>
                        <h3 class="references__title">Mr. Robbinson Bass</h3>
                        <ul class="references__contact">
                            <li>Phone: 999-777-6666</li>
                            <li>Email: user@email.com</li>
                        </ul>
                    </div>
                </div>
            </section> -->


            
        </div>
    </div>
</main>

<!--========== SCROLL TOP ==========-->
<a href="#" class="scrolltop" id="scroll-top">
    <i class='bx bxs-up-arrow-alt scrolltop__icon '></i>
</a>


<div class="py-3  mt-5" id="footerbgColor">
    <section class="px-0 ">
        <div class="px-3 py-4 row align-items-center content text-center text-light">
                <h5>Connect with us on Social media</h5>
                <div>
                    <i class="px-2 fab fa-facebook fa-2x"></i>
                    <i class="px-2 fab fa-linkedin fa-2x"></i>
                    <i class="px-2 fab fa-twitter-square fa-2x"></i>
                </div>
        </div>
    </section>

    <footer class="py-3 d-flex justify-content-center mt-auto text-white-50 seventh ">
        <p>&copy; 2021 - ResumeBuilder </p>
    </footer>
</div>

<script src="/javascript/createResume.js"></script>

<!--========== HTML2PDF ==========-->
<script src="/javascript/html2pdf.bundle.min.js"></script>



<%- include("partials/footer") %>