<%- include("partials/header") %>
<link rel="stylesheet" href="/stylesheet/resume.css">


<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<div class="container">
    <section class="container-fluid px-0">
        <div class="px-3 mt-1 py-2 row align-items-center content text-center">           
                <h1 class="fw-bold">Job-winning simple resume <br> templates</h1>
                <p>Each template is expertly designed and follows the exact “resume rules” hiring managers <br> look for. Stand out and get hired faster with field-tested resume templates.</p>
                
        </div>
        <div class="d-flex justify-content-center mb-2">
            <a href="/createresume" class="btn btn-lg btn-secondary">Create My Resume</a>
        </div>
    </section>
</div>


<div class="container mt-5">
<div class="row">
  
  <div class=" ml-auto  mr-auto">
    <!-- Tabs with Background on Card -->
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home1" role="tab">Simple</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#profile1" role="tab">Creative</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#messages1" role="tab">Professional</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#settings1" role="tab">Modern</a>
          </li>
        </ul>
      </div>
      <div class="card-body ">
        <!-- Tab panes -->
        <div class="tab-content ">
          
          <!-- SIMPLE -->
          <div class="tab-pane active m-5 mt-0 px-5 pt-3" id="home1" role="tabpanel">
            <h2 class="text-center mt-0 py-3 fw-bold ">SIMPLE RESUME TEMPLATE</h2>
            <p>A clean and timeless presentation that stands out in almost any situation.</p>

            <p>Simple or basic doesn’t have to be a bad thing. In fact, sometimes a simple resume template is the best approach for a variety of positions. Our simple styles keep the focus on your accomplishments, experience, education and everything in between. After all, shouldn’t you be the star of the show?</p>
            <div class="h-100 p-4 rounded-3 m-4" id="highlight1">
              <h6><i class="fas fa-graduation-cap"></i> EXPERT TIP!</h6>
              <p>Just because your resume template is simple doesn’t mean your resume has to be. In general, it’s best to leave off “obvious” or “expected” skills like MS Word or internet research. Same goes with unrelated, outdated or irrelevant experience.</p>
            </div>
            
            <p class="py-2">Simple templates are versatile and work well across a variety of fields and job titles. In fact, some hiring managers prefer these stripped-down designs because it allows them to really evaluate the candidate’s qualifications. So check out this classic collection of templates and don’t be afraid to keep things simple!</p>
            

            <h2>When to pick a basic or simple resume template</h2>
            <p>Basic or Simple templates are best for situations where your experience needs to speak for itself. Candidates applying for positions in transport and logistics, maintenance and repair , retail or food service can all benefit from simple resume templates. A basic or simple template sends the message that you’re a clean and organized candidate who’s ready to get the job done.</p>

            <p>While professions involving physical activity and labor can benefit from a simple layout, these templates are also great for students and those applying to entry-level positions. Before you go bold with loud colors and untraditional fonts, you may want to test the application pool waters with a simple template that keeps the focus on your experience.</p>
            <p>To make the most out of your basic template, make sure to keep the writing clean and professional. Since you don’t have many pictures or colors to catch a recruiter’s eye, you’ll want to use strong action verbs that accurately capture your accomplishments. As always, proofreading your resume for grammar and spelling errors is a must.</p>

            <h3>Top 5 why choose a simple layout</h3>
            <ol>
              <li>You are looking for a clean and streamlined resume</li>
              <li>You work in a technical or physical field</li>
              <li>You want to keep the focus on the content of your resume</li>
              <li>You are applying for an entry-level position</li>
              <li>You are a student or new to the workforce</li>
            </ol>

            <h2>What makes a simple resume/ CV template</h2>
            <p>A simple or basic resume template is defined by a clean and consistent look with strong lines separating categories and leading the eye through the template. Most of these templates use a grayscale color scheme to create a subdued feel where the focus is on the actual content of the resume. Compared with other types of free templates, simple resumes place more emphasis on the body of the resume instead of the top.</p>

            <h3>Top 10 parts of a simple resume template</h3>
            <ol>
              <li>Limited color scheme</li>
              <li>Timeless, classic feel</li>
              <li>Smaller header and more focus on resume body</li>
              <li>All sections of roughly equal size</li>
              <li>No icons or text flourishes</li>
              <li>Strong lines to separate sections</li>
              <li>Less space for headshot or logo</li>
              <li>Traditional font styles</li>
              <li>Great balance of white space to text</li>
              <li>A lot of room to add many lines of experience</li>
            </ol>


          </div>
          
          
          <!-- CREATIVER -->
          <div class="tab-pane m-5 mt-0 px-5 pt-3" id="profile1" role="tabpanel">
              <h2 class="text-center mt-0 py-3">Creative resume templates</h2>
              <p>A bold, original feel perfect for artistic fields and contemporary companies.</p>
  
              <p>From photography to fashion, graphic design and even costomotology, the world of creative professions is vast and varied. When applying for creative positions, candidates need to communicate passion and talent. A creative resume template is the best way to do just that.</p>

              <div class="h-100 p-4 rounded-3 m-4" id="highlight2">
                <h6><i class="fas fa-chart-bar"></i> STATISTICAL INSIGHT!</h6>
                <p>According to research funded by the UK government, creativity is one of the most in demand skills for professions across the board and the need for creative professionals is only expected to increase over the coming decade.</p>

              </div>
              
              <p class="py-2">That’s why our creative resume templates are expertly crafted to show off your skills and eye for good design. If you want a resume that doesn’t hold back, look no further than the bold colors and eye-catching fonts that make up our collection of creative templates. These resume designs are best for highlighting your experience in a modern, attractive way with an emphasis on your unique qualifications.</p>
              
  
              <h2>When to pick a creative resume template</h2>
              <p>Chances are, if you work in a creative field, you’ve already been eyeing some creative resume templates. But should you really go for such a bold approach? One way to decide is to evaluate the brand and company you plan to work for. Do they favor loud colors and an informal, direct tone? In that case, a creative resume can be a great tool to prove why you’d fit right into their workplace.</p>
  
              <p>Professionals who work in fashion, film, media, marketing, design, web development , floral, cosmetology, art or writing may all benefit from a creative resume template. Whereas in other industries you may have the choice whether or not to go bold, in certain creative fields, a strong resume is not only advised, it’s expected. After all, a prim and proper image sends the message you haven’t done your homework when it comes to being familiar with the company.</p>
              <p>Lastly, even if you're not a creative professional, you may choose a creative resume template to stand out from other candidates and show that you’re not afraid to be yourself. This works best in situations where the company is a creative agency, even if your role is not. For example, a receptionist for a photography studio may use a creative resume to show that they appreciate aesthetic touches, even if they are not an artist themselves.</p>
  
              <h3>Top 5 why choose a creative layout</h3>
              <ol>
                <li>You want to send the message that you are an innovative candidate</li>
                <li>You are applying to a forward-thinking and creative company</li>
                <li>You want a resume that matches your creative portfolio</li>
                <li>You appreciate bold design and think your potential employer will too</li>
                <li>You work in an industry where a subdued resume just won’t cut it</li>
              </ol>
  
              <h2>What makes a creative resume template</h2>
              <p>A creative resume template is defined by eye-catching colors and daring fonts. A strong block of color at the top of the resume draws attention to the candidate’s name and title with plenty of white space below for skills and experience. A creative resume template should also include space for social media handles or a website where potential employers can see a collection of the candidate’s work. In some industries and countries, a headshot is required, so a creative resume template should include space for that possibility.</p>
  
              <h3>Top 10 parts of a creative resume template</h3>
              <ol>
                <li>A flashy color used throughout the template</li>
                <li>A strong font that draws attention to the candidate’s name</li>
                <li>Plenty of space for skills and experience</li>
                <li>Strong lines that guide the reader to all parts of the resume</li>
                <li>Room for a headshot or logo if needed</li>
                <li>Enough space for a creative profile summary</li>
                <li>Place for links to social media or portfolio</li>
                <li>White space to balance out the color</li>
                <li>A strong emphasis on the top of the resume</li>
                <li>Stylish and modern design that works for a variety of fields</li>
              </ol>
          </div>
          

          <!-- PROFESSIONAL -->
          <div class="tab-pane m-5 mt-0 px-5 pt-3" id="messages1" role="tabpanel">
            <h2 class="text-center mt-0 py-3">Professional resume templates</h2>
            <p>A classic, streamlined look well-suited for formal positions at traditional companies.</p>

            <p>Does your dream job require a suit and tie? Dress pants and a blazer? Those are good signs that your application requires a professional resume. The best resume templates are expertly crafted with muted color palettes and clean lines to send the message that you are a refined candidate with the right decorum and experience to get a serious job done.</p>
            <div class="h-100 p-4 rounded-3 m-4" id="highlight3">
              <h6><i class="fas fa-graduation-cap"></i> EXPERT TIP!</h6>
              <p>When writing a professional resume for a serious company, it’s important to include only your most relevant professional experience. It’s a good idea to leave off student work or entry-level positions that don’t demonstrate your achievements in the field where you intend to work.</p>
            </div>
            
            <p class="py-2">To get the most out of your professional template, it’s important that you maximize the space to include only the most relevant details and accomplishments that will show a potential employer how you can add value to their company. Make sure your writing also carries a professional tone, and don’t be afraid to ask a friend for help with proofreading and editing.</p>
            

            <h2>When to pick a professional resume template</h2>
            <p>Let’s say you’re not sure whether a professional resume template is right for you. One way to decide is to really get a feel for the image of the company. Check out their website and social media. Even just the logo can give you a sense of what type of workplace you might be dealing with. Does the company strike you as prim and proper and more conservative than flashy?</p>

            <p>These are good indicators that a professional resume template is in line. Professional templates are most often in use in the administration , law and medical fields. If the position requires an advanced degree, it’s a good bet that you’ll need a professional resume template. However, there are other situations that call for these templates as well. For example, a recent grad applying as a receptionist for a large accounting firm may also benefit from a professional resume template.</p>
            <p>If you’re still not sure, it’s best to err on the side of caution and pick a more formal resume template. Unless you are applying to a highly creative company, a professional template with its clean color scheme and streamlined design will virtually never be out of place. A hiring manager or recruiter will thank you for keeping the focus on your skills and achievements.</p>

            <h3>Top 5 why choose a professional layout</h3>
            <ol>
              <li>You want to present a formal, polished image</li>
              <li>You work in a field like law, administration, finance or medicine</li>
              <li>You’re applying to a company with a serious image</li>
              <li>You are a candidate for an executive or upper level position</li>
              <li>You hold an advanced degree in a serious field</li>
            </ol>

            <h2>What makes a professional resume template</h2>
            <p>A professional resume template is characterized by a focus on the candidate’s skills and experience. One accent color may be used but overall, the emphasis is placed on the text with minimal distractions from icons or other flourishes.  The resume format may have room for a headshot or logo but there should be enough white space on the page to effectively balance out large chunks of text. Candidates should focus on writing their professional experience and summary in a professional tone, using strong action verbs that connote leadership and competence.</p>

            <h3>Top 10 parts of a professional resume template</h3>
            <ol>
              <li>A strong focus on your name and title</li>
              <li>Space for a headshot or logo</li>
              <li>An even balance of white space and text</li>
              <li>Color is used without being overwhelming</li>
              <li>Plenty of room for employment history</li>
              <li>Enough space for a thorough profile summary</li>
              <li>An emphasis on the skills section</li>
              <li>Clean and sharp fonts</li>
              <li>Neatly placed lines and blocks of color</li>
              <li>Focus placed on the candidate’s qualifications</li>
            </ol>
          
          </div>
          
          
          <!-- MORDERN -->
          <div class="tab-pane m-5 mt-0 px-5 pt-3" id="settings1" role="tabpanel">
            <h2 class="text-center mt-0 py-3">Modern resume templates</h2>
            <p>A current and stylish feel for forward-thinking candidates in innovative fields.</p>

            <p>If you’re a sleek candidate looking to prove that you’re with the times, our modern resume templates were built for you. These styles exude a sense of cool, calm and collected with interesting color palettes and strong fonts. They work great for hip companies with a focus on the here and now.</p>
            
            
            <div class="container">
              <section class="container-fluid px-0">
                  <div class="p-3 row align-items-center content">
                    <div class="h-100 p-4 rounded-3 col-lg-6 text-center" id="do">
                      <h6><i class="fas fa-check-circle"></i> DO</h6>
                      <p>Write your professional resume in reverse chronological order, the most commonly used resume format. </p>
                    </div>

                    <div class="h-100 p-4 rounded-3  col-lg-6 text-center" id="dont">
                      <h6><i class="fas fa-times-circle"></i> Don't</h6>
                      <p>Include unnecessary activities or <br> unrelated hobbies.</p>
                    </div>
                  </div>
                </section>
            </div>
            <p class="py-3">To get the most out of your professional resume template , make sure you keep your writing style fresh, using specific action verbs to connote your skills and achievements. You may choose a bold color that fits in with the style of the company, or you may opt for a template that keeps things simple while still showing off your eye for good design.</p>
            

            <h2>When to pick a modern resume template</h2>
            <p>Professionals in fields like tech, IT , marketing , design and media can all benefit from a modern resume template. A modern resume can also work great for startups or in a variety of other industries where companies promote themselves as youthful and on-trend. A modern resume template helps you match the company’s personal style and present yourself as fresh and innovative. If you need a more formal or professional look and feel check out our professional resume templates . </p>

            <p>A modern resume can also help you stand out in the application pool. A pop of color and a bold design can keep your name swirling in a hiring manager’s mind. Just remember to keep your writing fresh and on-point to show what a well-rounded candidate you are.</p>
            <p>We tend to think of the profile summary as the first thing a hiring manager sees, but a striking layout is truly the best way to make a great first impression. If your field or industry calls for a bold approach, don’t hold back! Choose a modern resume template to prove you’re the cream of the crop when it comes to industry-leading professionals.</p>

            <h3>Top 5 why choose a modern layout</h3>
            <ol>
              <li>You want to show that you’re an up-to-date and innovative candidate</li>
              <li>You’re applying to a forward thinking and youthful company</li>
              <li>You want to work in a field like tech or for a start-up</li>
              <li>You’re looking for a bold layout to make your application stand out</li>
              <li>You think a modern template will best capture your personality</li>
            </ol>

            <h2>What makes a modern resume template</h2>
            <p>A modern resume template is defined by exciting colors and a strong emphasis on the top of the resume. These templates offer ample space for a personalized profile summary and clever resume formatting to include all your most relevant skills. Strong lines lead the reader down and across the template so that no section is missed. These best  templates also contain enough white space to keep the resume from feeling cluttered.</p>

            <h3>Top 10 parts of a modern resume template</h3>
            <ol>
              <li>Exciting colors used at the top of resume and throughout</li>
              <li>Interesting fonts to highlight the most important details</li>
              <li>Strong emphasis on name and job title</li>
              <li>Lines that separate sections for a clean feel</li>
              <li>Breathable design thanks to adequate white space</li>
              <li>Room for a photo or logo</li>
              <li>Strong emphasis on section headings</li>
              <li>Focus on contact details and website</li>
              <li>Creative a resume layout for skills section</li>
              <li>Fresh feel without being too flashy</li>
            </ol>


          </div>
        
        
        </div>
      </div>
    </div>
    <!-- End Tabs on plain Card -->
  </div>
</div>
</div>


<div class="py-3 seventh">
    <section class="px-0 ">
        <div class="px-3 py-4 row align-items-center content text-center text-light">
                <h5>Connect with us on Social media</h5>
                <div>
                    <i class="px-2 fab fa-facebook fa-2x"></i>
                    <i class="px-2 fab fa-linkedin fa-2x"></i>
                    <i class="px-2 fab fa-twitter-square fa-2x"></i>
                </div>
        </div>
    </section>

    <footer class="py-3 d-flex justify-content-center mt-auto text-white-50 seventh ">
        <p>&copy; 2021 - ResumeBuilder </p>
    </footer>
</div>


<%- include("partials/footer") %>

